.page_num {
    margin-right: 20px;
    margin-top: 10px;
    list-style: none;
    display : inline-block;
    cursor: pointer;
}

.search_input {
    padding: 2px;
    margin-right: 5px;
    margin-top: 14px;
    width: 15%;
}

.serach_submit {
    position: absolute;
    margin-top: 15px;
    cursor: pointer;
}
