.List {
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 500px;
}

.list_tit {
    border-bottom: solid 1px #ababab;
    color : #ababab;
}

.list_grid {
    display: grid;
    border-bottom: solid 1px #080808;
}

.list_data {
    display: grid;
    border-bottom: solid 1px #dddada;
}

.list_text {
    line-height: 40px;
}

.acenter {
    text-align: center;
}

.paging_div {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
}

.paging_div div {
    padding : 15px;
    text-align: center;
}

.page_num {
    margin-right: 20px;
    list-style: none;
    display : inline-block;
    cursor: pointer;
}
